html, body{
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    color: #787878;
    font-family: "Lato";
    /*font-size: 14px;
    line-height: 1.5;*/
}
h3{
  font-weight: 400;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
}
main {
    background-color: #ffffff;
    display: block;
}
.introContainer {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1100px;
}

.introLogo{
    padding-top: 45px;
    padding-left: 60px;
    width: 37px;
}
section.module:last-child {
     margin-bottom: 0px;
}

section.module p {
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 10px;
    margin-top:20px;
}

section.module p:last-child {
     margin-bottom: 0px;
}

section.module.content {
     padding: 40px 0px;
     z-index: 10;
}

section.module.parallax {
     background-attachment: fixed;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
     height: 900px;
    position: relative;

}


section.module.parallax h2 {
     color: #ffffff;
     font-family: "Crimson Text",serif;
     font-size: 36px;
     line-height: 100px;
     text-align: left;
}



/*first section */
section.module.parallax-1 {
     background-image: url("../img/cover.jpg");
}

section.module.parallax h1 {
     color: #101b44;
     font-size: 60px;
     font-weight: 700;
     line-height: 70px;
     text-align: left;
}

    .h1spacing {
    
    position: fixed;
    /*position: relative;*/
    top: 25%;
    width:55%;
}

    .h1spacing h2 span{
        font-family: Lato;
        font-size: 28px;
        margin-left: 12px;
        background-color: #214f9d;
        padding: 13 9 15 9px;
        cursor: pointer;
    }

     section.module.parallax h2 {
     color: #ffffff;
     font-family: "Crimson Text",serif;
     font-size: 36px;
     font-weight: 400;
     line-height: 100px;
     text-align: left;
}

/* close first section*/


/* open second section*/
    .lightgrey, .ending {
    background-color: #e6e6e6 !important;
    min-height: 900px;
    position: relative;
    z-index: 10;
}
.darkgrey.ending{
  min-height: 840px;
}
.ending .twocolumn.left{
    top: 120px;
    position: relative;
}
    
    section.module.content.lightgrey h3{
        color: #333333;
        font-family: "Lato",sans-serif;
        font-size: 22px;
        line-height: 49px;
        margin-top: 25%;
        text-align: left;
        width: 55%;
}
section.module.content.ending h3 {
        color: #333333;
        font-family: "Lato",sans-serif;
        font-size: 22px;
        line-height: 33px;
        margin-top: 11% !important;
        text-align: left;
        /*width: 75%;*/
}

     .highlightwhite{
         background-color: #ffffff;
         color: #25a191;
         font-size:22px; 
         font-weight: 500;
         line-height: 40px;
         padding:0px;
         width: 55%;
 }


/* close second section*/




 /* open third section*/   

    section.module.parallax-2 {
     background-image: url("../img/demo/_small/2.1.jpg");
}
    section.module.parallax-2 h3{
    position: absolute;
    top: 30%;
    text-align: left;
    width: 545px;   
   
}

 .highlightgrey{
    background-color: #333333;
    color: #fff;
    font-size:22px; 
    font-weight: 500;
    line-height: 40px;
    padding:0px;
    width: 55%;
 }
/* close third section*/


/***************open fourth section ******************/
.darkgrey {
    background-color: #333333;
    min-height: 1400px;
    position: relative;
    z-index: 10;
}
.topgrey{
    border-top: solid 200px #333333;
}
.topgrey .introLogo{
    top: -200px;
    position: relative;
}

.twocolumn{
 width: 480px;   
    
}

.left{  
 float:left;
}

@media all and (max-width: 1100px) {
    .twocolumn.left{
        width: 380px !important;
    }
    #rightEdge{
        width: 380px !important;
    }
}

#rightEdge2{
  top: 56%;
}

.right{  
 float:right;
}

.sign{
 width:60px;
 font-style:normal;
text-align: center;
    
}
 
     section.module.content.darkgrey h3{
      margin-top: 35%;  
       width: 100%;
      text-align: left;
     }


.highlightgreen{
     background-color: #a8dc92;
     color: #333333 ;
     font-size:22px; 
    font-weight: 500;
     line-height: 40px;
     padding:0px;    
 }


.darkgrey .twocolumn p{
     font-family: "Lato", sans-serif;
     font-size:16px; 
     line-height: 25px;
    color:#ffffff; 
    font-weight: 400;
}
.darkgrey .twocolumn.left p{
    font-size: 18px;
}
 .darkgrey .twocolumn .forumula_large p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 26px;
    font-weight: 400;
     text-align: center;
 
}

.darkgrey .twocolumn .forumula_small{
    
    width:33%; 
    margin-top: 30px;
}
     
 .darkgrey .twocolumn .forumula_small p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
     text-align: center;
 
}


 .darkgrey .twocolumn #forumula_introContainer{
        max-width: 300px;  
        margin:0 auto;    
 }





.orange .twocolumn p{
    font-family: "Lato", sans-serif;
    font-size:16px; 
    line-height: 18px;
    color:#ffffff;
}
.orange h3{
    color: #ffffff;
    font-family: "Lato",sans-serif;
    font-size: 22px;
    line-height: 49px;
    /*margin-top: 25%;*/
    text-align: left;
    /*width: 55%;*/
}
 .darkgrey .twocolumn .forumula_large p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 26px;
    font-weight: 400;
     text-align: center;
 
}

.darkgrey .twocolumn .forumula_small{
    
    width:33%; 
    margin-top: 30px;
}
     
 .darkgrey .twocolumn .forumula_smaller p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
     text-align: center;
 
}
.darkgrey .twocolumn .forumula_smaller{
    width:16.66%; 
    margin-top: 30px;
}
.forumula_smaller.x{
    width: 12% !important;
}

 .darkgrey .twocolumn .forumula_smallest p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
     text-align: center;
 
}
.darkgrey .twocolumn .forumula_smallest{
    width:16.66%; 
    margin-top: 30px;
}
.forumula_smallest.x{
    width: 12% !important;
}
     
 .darkgrey .twocolumn .forumula_small p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
     text-align: center;
 
}

 .darkgrey .twocolumn #forumula_introContainer{
    max-width: 300px;
    margin: 0 auto;
    /*margin-top: 370px; */
 }

.line{
    /*border-bottom: 1px solid #fff;*/
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom:5px;
}
.visible.line{
    border-bottom: 1px solid #fff;
}


.red{
    font-size:18px;
    font-weight:700;
    color:#db2b27;
}
.blue{
    font-size:28px;
    font-style: normal; 
    font-weight:700;
    color:#1696d2;
}
.x .s6{
    left: 8px;
}
.x.f5{
    left: -11px;
}
.x .s9{
    position: relative;
    top: 34px;
    left: 10px;
}
.x.f8{
    position: relative;
    top: 34px;
    left: 8px;
}
.blue.s3{
    font-size: 35px;
}
.blue.s3, .x .s6, .x.f5{
    position: relative;
    top: 17px;
}
/**************** Animated elements ***************/
.f1{
        clear: both;
    margin-left: -67px;
    margin-right: -20px;
}
.f2{
    margin-left: -6px;
}
.f3{
/*    float: left;
    margin-left: 54px;
*/}
.f4{
    margin-right: 115px;
}
.f5{
    margin-left: -10px;
    margin-right: -14px;
}
.f6{
    margin-right: 46px;
    margin-left: -11px;

}
.f6-1{
    padding-bottom: 24px;
}
.f6-2, .f9-2{
    padding-bottom: 23px;
}
.f7{
    margin-left: 13px;
}
.f7-1{
    padding-bottom: 17px;
}
.f8{
    margin-left: -16px;
}
.f9{
    margin-right: 10px;
}
.f10{
    margin-left: -33px;
    clear: both;
}
.f10 .line.fade{
    display: table;
}
#l1{
    font-size: 16px;
    width: 90px;
    margin-top: -6px;
    margin-left: -6px;
    color: #1696d2;
}
.formula.fixed{
/*    position: fixed;
    top: 20px;
    margin-top: 0px;
    z-index: 99;
    width: 555px;
    /*right: 83px;*/*/
}
.formula{
    position: inherit;
    margin-top: -1350px;
    width: 555px;
    height: 476px;
    pointer-events: none;
}
.move{
    position: relative;
    font-size: 18px;
    opacity: 0;
}
.fade{
    opacity: 0;
}
.fade.num{
    border-bottom: 1px solid #fff;
}
.fade.denom{
    border-top: 1px solid #fff;
    padding-top: 14px;
    margin-top: -4px;
}
#s1{
    left: -103px;
    top: -106px;
}
#s2{
    left: 101px;
    top: -106px;
}
#s4{
    /*font-size: 14px;*/
    left: 76px;
    top: -107px;
}
#s5{
    /*font-size: 14px;*/
    top: -108px;
    left: -39px;
}
#s7{
    left: 84px;
    top: -153px;
}
#s8{
    left: -44px;
    top: -129px;
}
#s10{
    left: 39px;
    top: -106px;
}
#s11{
    left: -74px;
    top: -107px;
}
#s13{
    padding-top: 24px;
    left: 42px;
    top: -152px;
}
#s14{
    left: -69px;
    top: -152px;
}

/***************formula lines ******************/

.formulaLines{
    position: relative;
    left: 0;
    top: -475px;
}
.formulaLine{
    stroke: #fff;
    stroke-width: 3px;
    opacity: .3;
}


/***************close fourth section ******************/




section.module.parallax-3 {
     background-image: url("../img/demo/_small/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 { font-size: 42px; }
  section.module p { font-size: 20px; }
  section.module.parallax h1 { font-size: 60px; }
}

@media all and (min-width: 960px) {
  section.module.parallax h1 { font-size: 60px; }
}

.stepGif, .stepAll{
  display: none;
}

@media (max-width:1120px){
  .formula{
    display: none;
  }
  .topgrey .twocolumn.left, .orange h3, .ending .twocolumn.left, .lightgrey h3, #rightEdge, #rightEdge2{
    width: calc( 100% - 60px) !important;
  }
  .h1spacing{
    top: 15%;
  }
  .lightgrey{
    min-height: 550px !important;
  }
  .stepGif{
    display: block;
    left: 0px;
    width: 320px;
  }
  .stepAll{
    display: block;
    width: 430px;
    margin-top: 40px;
  }
  .topgrey{
    min-height: 2900px;
  }
  .darkgrey{
    background-color: #333133;
  }
  .topgrey{
    border-top: solid 200px #333133;
  }
  #rightEdge2{
    top: 45%;
  }
}
@media (max-width:1030px){
  #rightEdge2{
    top: 54%;
  }  
}
@media (max-width: 768px){
  #rightEdge, #rightEdge2, #rightEdge2 .highlightgrey{
    line-height: 37px;
    font-size: 18px;
  }
  section.module.parallax{
    height: 700px;
  }
  section.module.parallax h1{
    font-size: 40px;
  }
  section.module.parallax h2{
    font-size: 28px;
  }
  .h1spacing h2 span{
    font-size: 17px;
  }
  .topgrey {
      min-height: 3290px;
  }
}
@media (max-width: 553px){
  .darkgrey .twocolumn.left p{
    font-size: 13px !important;
  }
  .topgrey .twocolumn.left, .orange h3, .ending .twocolumn.left, .lightgrey h3, #rightEdge, #rightEdge2{
    width: 100% !important;
  }
  .stepGif{
    width: 220px;
  }
  .stepAll{
    width: 300px;
    margin-left: -30px;
  }
  section.module.content.ending h3 {
    font-size: 13px;
    line-height: 25px;
  }
  section.module.parallax h1 {
      font-size: 32px;
      width: 270px;
      line-height: 50px;
  }
  section.module.parallax h2 {
      font-size: 31px;
      line-height: 60px;
  }
  section.module.content.lightgrey h3, .highlightwhite, .highlightgrey{
    font-size: 13px !important;
    line-height: 25px !important;
  }
  .lightgrey {
      min-height: 370px !important;
  }
  #rightEdge, #rightEdge2 {
      width: calc(100% - 80px) !important;
      font-size: 13px;
      line-height: 25px;
  }
}

/*.forumula_large, .formulaLine:nth-child(1), .formulaLine:nth-child(2), span.blue.s3, .forumula_smaller.left.f1,  .blue.fade.s6.grey3, .formulaLine:nth-child(3), .formulaLine:nth-child(4), .formulaLine:nth-child(5), .formulaLine:nth-child(6), .formulaLine:nth-child(8), .formulaLine:nth-child(7), .forumula_smaller.left.f2, .forumula_smaller.right.f3, .forumula_smallest.left.f7, .forumula_smaller.right.x.f5{*/
  /*opacity: 0 !important;*/
  /*visibility: hidden !important;*/
/*}*/
/*.forumula_small.right, .fade.denom.s3.grey2.grey3.white4.grey5, .visible.line.grey2.grey3.a1, #s1{*/
  /*opacity: 1 !important;*/
/*}*/
