html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: outside none none;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
body {
    background-color: #b4b4b4;
    color: #787878;
    font-family: "Lato";
    /*font-size: 14px;
    line-height: 1.5;*/
}
.wrapper {
    margin: 0 auto;
    width: 100%;
}
main {
    background-color: #ffffff;
    display: block;
}
.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1100px;
}

section.module:last-child {
     margin-bottom: 0px;
}

section.module p {
     font-size: 16px;
     font-weight: 300;
     margin-bottom: 10px;
    margin-top:20px;
}

section.module p:last-child {
     margin-bottom: 0px;
}

section.module.content {
     padding: 40px 0px;
     z-index: 10;
}

section.module.parallax {
     background-attachment: fixed;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
     height: 900px;
    position: relative;

}


section.module.parallax h2 {
     color: #ffffff;
     font-family: "Crimson Text",serif;
     font-size: 36px;
     line-height: 100px;
     text-align: left;
}



/*first section */
section.module.parallax-1 {
     background-image: url("../img/demo/_small/1.jpg");
}

section.module.parallax h1 {
     color: #d92f1b;
     font-size: 60px;
     font-weight: 700;
     line-height: 70px;
     text-align: left;
}

    .h1spacing {
    
    position: fixed;
    /*position: relative;*/
    top: 45%;
    width:55%;
}

     section.module.parallax h2 {
     color: #ffffff;
     font-family: "Crimson Text",serif;
     font-size: 36px;
     font-weight: 400;
     line-height: 100px;
     text-align: left;
}

/* close first section*/


/* open second section*/
    .lightgrey {
    background-color: #dfdfdf;
    min-height: 900px;
    position: relative;
    z-index: 10;
}
    
    section.module.content.lightgrey h3 {
     color: #333333;
     font-family: "Lato",sans-serif;
     font-size: 26px;
     font-weight: 400;
     line-height: 35px;
     margin-top: 25%;
     text-align: left;
     width: 55%;
}
     .highlightwhite{
     background-color: #ffffff;
     color: #d92f1b;
     font-family: "Crimson Text", serif;
     font-size:28px; 
    font-weight: 600;
     line-height: 40px;
     padding:10px;
     width: 55%;
 }


/* close second section*/




 /* open third section*/   

    section.module.parallax-2 {
     background-image: url("../img/demo/_small/2.1.jpg");
}
    section.module.parallax-2 h3{
    position: absolute;
    top: 50%;
    text-align: left;
    width: 445px;   
   
}

 .highlightgrey{
    background-color: #dfdfdf;
    color: #d92f1b;
    font-family: "Crimson Text", serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
    padding: 5px;
  
 }
/* close third section*/


/***************open fourth section ******************/
.darkgrey {
    background-color: #333333;
    min-height: 900px;
    position: relative;
    z-index: 10;
}


.twocolumn{
 width: 480px;   
    
}

.left{  
 float:left;
}

.right{  
 float:right;
}

.sign{
 width:60px;
 font-style:normal;
text-align: center;
    
}
 
     section.module.content.darkgrey h3{
      margin-top: 35%;  
       width: 100%;
      text-align: left;
     }


.highlightgreen{
     background-color: #a8dc92;
     color: #333;
     font-family: "Crimson Text", serif;
     font-size:28px; 
    font-weight: 600;
     line-height: 40px;
     padding:5px;    
 }


.darkgrey .twocolumn p{
     font-family: "Lato", sans-serif;
     font-size:16px; 
     line-height: 18px;
    color:#ffffff; 
}

 .darkgrey .twocolumn .forumula_large p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 26px;
    font-weight: 400;
     text-align: center;
 
}

.darkgrey .twocolumn .forumula_small{
    
    width:33%; 
    margin-top: 30px;
}
     
 .darkgrey .twocolumn .forumula_small p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
     text-align: center;
 
}


 .darkgrey .twocolumn #forumula_container{
        max-width: 300px;  
        margin:0 auto;    
 }





.orange .twocolumn p{
     font-family: "Lato", sans-serif;
     font-size:16px; 
     line-height: 18px;
    color:#ffffff; 
}

 .darkgrey .twocolumn .forumula_large p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 26px;
    font-weight: 400;
     text-align: center;
 
}

.darkgrey .twocolumn .forumula_small{
    
    width:33%; 
    margin-top: 30px;
}
     
 .darkgrey .twocolumn .forumula_smaller p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
     text-align: center;
 
}
.darkgrey .twocolumn .forumula_smaller{
    width:16.66%; 
    margin-top: 30px;
}
.forumula_smaller.x{
    width: 12% !important;
}

 .darkgrey .twocolumn .forumula_smallest p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
     text-align: center;
 
}
.darkgrey .twocolumn .forumula_smallest{
    width:16.66%; 
    margin-top: 30px;
}
.forumula_smallest.x{
    width: 12% !important;
}
     
 .darkgrey .twocolumn .forumula_small p{
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
     text-align: center;
 
}

 .darkgrey .twocolumn #forumula_container{
    max-width: 300px;
    margin: 0 auto;
    /*margin-top: 370px; */
 }

.line{
    /*border-bottom: 1px solid #fff;*/
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom:5px;
}
.visible.line{
    border-bottom: 1px solid #fff;
}


.red{
    font-size:18px;
    font-weight:700;
    color:#db2b27;
}
.blue{
    font-size:18px;
    font-weight:700;
    color:#1696d2;
}


/**************** Animated elements ***************/
.f1{
        clear: both;
    margin-left: -67px;
    margin-right: -20px;
}
.f2{
    margin-left: -6px;
}
.f3{
/*    float: left;
    margin-left: 54px;
*/}
.f4{
    margin-right: 115px;
}
.f5{
    margin-left: -10px;
    margin-right: -14px;
}
.f6{
    margin-right: 46px;
    margin-left: -11px;

}
.f6-1{
    padding-bottom: 24px;
}
.f6-2, .f9-2{
    padding-bottom: 23px;
}
.f7{
    margin-left: 13px;
}
.f7-1{
    padding-bottom: 17px;
}
.f8{
    margin-left: -16px;
}
.f9{
    margin-right: 10px;
}
.f10{
    margin-left: -33px;
    clear: both;
}
.f10 .line.fade{
    display: table;
}
#l1{
    font-size: 16px;
    width: 90px;
    margin-top: -6px;
    margin-left: -6px;
    color: #1696d2;
}
.formula.fixed{
    position: fixed;
    top: 20px;
    margin-top: 0px;
    z-index: 99;
    width: 555px;
    /*right: 83px;*/
}
.formula{
    position: inherit;
    margin-top: -5093px;
    width: 555px;
}
.move{
    position: relative;
    font-size: 18px;
    opacity: 0;
}
.fade{
    opacity: 0;
}
.fade.num{
    border-bottom: 1px solid #fff;
}
.fade.denom{
    border-top: 1px solid #fff;
    padding-top: 14px;
    margin-top: -4px;
}
#s1{
    left: -103px;
    top: -106px;
}
#s2{
    left: 101px;
    top: -106px;
}
#s4{
    /*font-size: 14px;*/
    left: 76px;
    top: -107px;
}
#s5{
    /*font-size: 14px;*/
    top: -108px;
    left: -39px;
}
#s7{
    left: 84px;
    top: -153px;
}
#s8{
    left: -44px;
    top: -129px;
}
#s10{
    left: 39px;
    top: -106px;
}
#s11{
    left: -74px;
    top: -107px;
}
#s13{
    padding-top: 24px;
    left: 42px;
    top: -152px;
}
#s14{
    left: -69px;
    top: -152px;
}

/***************formula lines ******************/

.formulaLines{
    position: relative;
    left: 0;
    top: -475px;
}
.formulaLine{
    stroke: #fff;
    stroke-width: 3px;
    opacity: .3;
}


/***************close fourth section ******************/




section.module.parallax-3 {
     background-image: url("../img/demo/_small/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 { font-size: 42px; }
  section.module p { font-size: 20px; }
  section.module.parallax h1 { font-size: 60px; }
}

@media all and (min-width: 960px) {
  section.module.parallax h1 { font-size: 60px; }
}
